/*

  Name: Super Buttons Pack
  Author: Himas Rafeek
  Author URI: https://himasrafeek.com
  Version: 1.0.0

*/
.btn {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 120ms;
  -o-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
  background: white;
  border: none;
  text-align: center;
  font-size: 14px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 13px 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.18);
  margin: 5px 5px;
  color: #009688;
  border: 2px solid #009688; }
  .btn:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn:active, .btn:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn .waving {
    border-color: #999 !important; }

.wave {
  position: relative;
  overflow: hidden; }

.wave .waving {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0.5;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid lightgray;
  -webkit-animation: wave 1s linear forwards;
  -moz-animation: wave 1s linear forwards;
  -o-animation: wave 1s linear forwards;
  animation: wave 1s linear forwards;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: lightgray; }

@-webkit-keyframes wave {
  to {
    -webkit-transform: scale(100);
    transform: scale(100); } }

@-moz-keyframes wave {
  to {
    -moz-transform: scale(100);
    transform: scale(100); } }

@-o-keyframes wave {
  to {
    -o-transform: scale(100);
    transform: scale(100); } }

@keyframes wave {
  to {
    -webkit-transform: scale(100);
    -moz-transform: scale(100);
    -o-transform: scale(100);
    transform: scale(100); } }
.btn.default.outlined {
  color: #009688;
  border: 2px solid #009688;
  background: white !important; }
  .btn.default.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.default.outlined:active, .btn.default.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.default.outlined .waving {
    border-color: gray !important; }

.btn.primary.outlined {
  color: #007bff;
  border: 2px solid #007bff;
  background: white !important; }
  .btn.primary.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.primary.outlined:active, .btn.primary.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.primary.outlined .waving {
    border-color: gray !important; }

.btn.success.outlined {
  color: #00c851;
  border: 2px solid #00c851;
  background: white !important; }
  .btn.success.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.success.outlined:active, .btn.success.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.success.outlined .waving {
    border-color: gray !important; }

.btn.info.outlined {
  color: #33b5e5;
  border: 2px solid #33b5e5;
  background: white !important; }
  .btn.info.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.info.outlined:active, .btn.info.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.info.outlined .waving {
    border-color: gray !important; }

.btn.warning.outlined {
  color: #f80;
  border: 2px solid #f80;
  background: white !important; }
  .btn.warning.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.warning.outlined:active, .btn.warning.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.warning.outlined .waving {
    border-color: gray !important; }

.btn.danger.outlined {
  color: #ff3547;
  border: 2px solid #ff3547;
  background: white !important; }
  .btn.danger.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.danger.outlined:active, .btn.danger.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.danger.outlined .waving {
    border-color: gray !important; }

.btn.purple.outlined {
  color: #aa66cc;
  border: 2px solid #aa66cc;
  background: white !important; }
  .btn.purple.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.purple.outlined:active, .btn.purple.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.purple.outlined .waving {
    border-color: gray !important; }

.btn.blue.outlined {
  color: #4285f4;
  border: 2px solid #4285f4;
  background: white !important; }
  .btn.blue.outlined:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35); }
  .btn.blue.outlined:active, .btn.blue.outlined:focus {
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25), inset 0 1px 1px 1px rgba(0, 0, 0, 0.25) !important; }
  .btn.blue.outlined .waving {
    border-color: gray !important; }

/*# sourceMappingURL=style.css.map */
