/*

  Name: Super Buttons Pack
  Author: Himas Rafeek
  Author URI: https://himasrafeek.com
  Version: 1.0.0

*/

@import 'buttons';
@import 'btn-outlined-rounded';
@import 'btn-outlined';
@import 'btn-regular';
@import 'btn-rounded';
@import 'btn-fill';